.btn-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    width: 100%;
}

.btn-ok{
    border-radius: 15px;
    width: 40%;
}

.btn-close-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -2%;
}

.flex-class {
    display: flex;
    direction: row;
    justify-content: space-between;
    width: 100%;
}