<div class="btn-close-content">
  <button mat-icon-button color="warn" mat-dialog-close><mat-icon>close</mat-icon></button>
</div>
<h1 mat-dialog-title>Clientes</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>

    <p class="flex-class">
      <mat-form-field appearance="outline" style="width: 48%;">
        <mat-label>Nombre</mat-label>
        <input matInput #input formControlName="nombre">
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="form.get('nombre').hasError('required')">
          El nombre es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 48%;">
        <mat-label>Apellidos</mat-label>
        <input matInput #input formControlName="apellidos">
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="form.get('apellidos').hasError('required')">
          Los apellidos son <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <p class="flex-class">
      <mat-form-field appearance="outline" style="width: 48%;">
        <mat-label>Telefono</mat-label>
        <input matInput #input formControlName="telefono">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error *ngIf="form.get('telefono').hasError('required')">
          El telefono es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 48%;">
        <mat-label>Confirmar Telefono</mat-label>
        <input matInput #input formControlName="telefonoConfirm">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </p>

    <p class="flex-class">
      <mat-form-field appearance="outline" style="width: 48%;">
        <mat-label>Correo Electronico</mat-label>
        <input matInput #input formControlName="email">
        <mat-icon matSuffix>alternate_email</mat-icon>

        <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
          Por favor introduzca un correo valido.
        </mat-error>

        <mat-error *ngIf="form.get('nombre').hasError('required')">
          El correo es <strong>requerido</strong>
        </mat-error>

      </mat-form-field>      
    </p>

  </div>
  <div mat-dialog-actions>
    <div class="btn-actions">
      <button mat-raised-button class="btn-ok" color="primary" cdkFocusInitial>{{data.btn.ok}}</button>
    </div>
  </div>
</form>