
<mat-toolbar>
  <button mat-icon-button class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>IE Solutions App</span>    
</mat-toolbar>

<div style="padding: 2%;">
  <router-outlet></router-outlet>
</div>